<div class="container">
   <footer class="py-5">
      <div class="row">        
        <div class="col-4 col-md-2 mb-3">
          <h5 data-i18n-key="footer-Catagory-3"></h5>        
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="/about" class="nav-link p-0 text-body-secondary" data-i18n-key="footer-about"></a></li>
            <li class="nav-item mb-2"><a href="/privacy" class="nav-link p-0 text-body-secondary" data-i18n-key="footer-privacy"></a></li>          
            <li class="nav-item mb-2"><a href="/terms" class="nav-link p-0 text-body-secondary" data-i18n-key="footer-terms"></a></li>
            <li class="nav-item mb-2"><a href="/accessibility" class="nav-link p-0 text-body-secondary" data-i18n-key="footer-accessibility"></a></li>
            <li class="nav-item mb-2"><a href="/contact" class="nav-link p-0 text-body-secondary" data-i18n-key="footer-contact">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-3 offset-md-7 mb-7">          
            <h5 data-i18n-key="footer-Catagory-4"></h5>
        </div>
        
      </div>  
      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <span data-i18n-key="footer-copyright"></span>        
        <%- include('./versions'); -%>        
      </div>    
   </footer>
   <script  type="text/javascript" src="/js/manageLocale.js"></script>   
</div>