<div class="container">
    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img src="/img/ZANDD LOGO.jpg" alt="" width="50" height="32">
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2" data-i18n-key="heading-technology"></a></li>
            <li><a href="/courses" class="nav-link px-2" data-i18n-key="heading-tutoring"></a></li>
            <li><a href="#" class="nav-link px-2" data-i18n-key="heading-shop">Shop</a></li>            
        </ul>




        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-item">
                <a class="nav-link" href="/login">
                    <i class="bi bi-box-arrow-in-right"></i>
                    Login
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">
                    <i class="bi bi-person-plus"></i>
                    Register
                </a>
            </li>
        </ul>


        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <select id="languageSelector" class="form-select" aria-label="Language selection">
                <option value="en" data-i18n-key="heading-english"></option>
                <option value="nl" data-i18n-key="heading-dutch"></option>
            </select>
        </ul>





    </header>
</div>