<div class="navbar">  
  <div style="position:absolute;bottom:20%">
    <a href="/JSON2QRCode">Create a QR code</a><br>    
    <a href="/scanQRCode">decypher QR code</a><br>
      <h4>Navigate Site</h4>
      <hr>
      <a href="/">Home</a><br>
      <a href="/login">Login</a><br>
   		<a href="/about">About</a><br>
   </div>
</div>
