<div class="navbar">  
  <div style="position:absolute;bottom:20%">
      <h4>Navigate Site</h4>
      <hr>
      <a href="/">Home</a><br>
      <a href="/login">Login</a><br>
   		<a href="/about">About</a><br>
   </div>
</div>
