<div class="navbar">
  <h4>Scan</h4>  
  <a href="/JSON2QRCode">Create QR Code from JSON</a><br>
  <a href="/create">Action!</a><br>
  <a href="/scanQRCode">Scan QR-Code</a><br>
  <a href="/QRCodeFromString">Create QR Code from String</a><br>
  <div style="position:absolute;bottom:20%">
      <h4>Navigate Site</h4>
      <hr>
      <a href="/">Home</a><br>
   		<a href="/about">About</a><br>
   </div>
</div>
