<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>
   <body>
   <%- include('layouts/heading'); -%>
   <%- include('layouts/navbar'); -%>
      <div class="main">
         <h1>About</h1>
         This is a mockup of a library which can generate a QR Code based on a JSON input, and decyperher that QR COde back to JSON.<br>
         The JSON represents a rendering of the European Health Insurance Card.
      </div>   
   </body>
</html>