<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>
   <body style="background: transparent url(/img/404.jpg) no-repeat top center;">
   <%- include('layouts/heading'); -%>
   <%- include('layouts/navbar'); -%>
      <div class="main">
         <h1 style="text-align:center;">Destiny Unknown</h1>
      </div>
   </body>
</html>